.App {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.email-submission-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000; /* Specify the desired background color */
  transform: translateY(300px);
  padding: 10px;
  width: 600px; /* Specify the desired width */

  margin: 0 auto; /* Center the container horizontally */
  border-radius: 2px;
  border: 1px solid rgb(158, 148, 129);
}

.email-input-container {
  flex-grow: 1;
  padding-right: 10px;
  border-right: 1px solid #ffffff; /* Specify the color for the separator line */
}

.email-input {
  width: 100%;
  height: 30px;
  font-size: 16px;
  padding: 5px;
  background-color: transparent;
  color: #ffffff; /* Specify the desired text color for the email field */
  border: none;
  outline: none;
  font-family: "IBM Plex Mono", monospace;
}

.submit-button {
  background-color: transparent;
  color: #f5f5f5; /* Specify the desired text color for the submit button */
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
}

.logo {
  font-family: "IBM Plex Mono", monospace;
  font-size: 86px;
  transform: translateY(200px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bypass-container {
  position: absolute;
  top: 20px; /* Specify the desired distance from the top of the page */
  right: 20px; /* Specify the desired distance from the right side of the page */
  padding: 10px 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #000000; /* Specify the desired text color */
  background-color: transparent;
  border: 1px solid #000000; /* Specify the desired border color */
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bypass-container:hover {
  background-color: #000000; /* Specify the desired background color on hover */
  color: #ffffff; /* Specify the desired text color on hover */
}

.privacy-policy {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: #f1f1f1; */
  padding: 10px;
  text-align: center;
  font-size: 12px;
  color: #555;
}
